body{
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
}
header{
    margin-top: 16px;
}
footer{
    color: skyblue;
    border-top: 1px solid #eeeeee;
}
